{% extends 'base_layout.html' %}


    {% block title %} List {% endblock %}

    {% block content %}
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'blog:post_detail' post.slug%}">{{post.title}}</a></h1>
                <p>{{post.snippet}}</p>
                <p>{{post.published_date}}</p>
                <p></p>
                <img src="{{post.thumb_nail.url}}">
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="post-create">
            {% csrf_token %}
            <button><a href="{% url 'blog:post_create' %}">create</a></button>
        </div>
        {% endif %}
    {% endblock %}