{% load static%}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %} " rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
    <!-- Custom styles for login html-->
    <link rel="stylesheet" href="{% static 'css/login.css/'%}" type="text/css">
    </head>
    <body>
            <header class="wrapper">
                    <!-- Navigation -->
                        <nav class="navbar navbar-light bg-light static-top">
                                <div class="container">
                                    <a href="{% url 'blog:about' %}">ABOUT</a>
                                    <a href="{% url 'blog:posts' %}">POSTS</a>
                                    <a href="{% url 'blog:algorithm' %}">ALGORITM</a>
                                    <a href="{% url 'blog:hacking' %}">HACKING</a>
                                    <a href="{% url 'blog:eating' %}">EATING</a>
                                    <a href="{% url 'blog:services' %}">SERVICES</a>
                                </div>
                              </nav>
        <div class="header">
            <img class= "login" src="{% static 'img/login.jpg' %}"alt="" style="width: 100%">
            <h1 class="please">로그인 해주세요</h1>
        </div>

        {%if form.errors %}
        <p>ID나 PW가 일치하지 않습니다</p>
        {% endif %}
        <form class="login-form" action="{% url 'userapp:login' %}" method="post">
            {% csrf_token %}
            {{form}}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next}}">
            {% endif %}
            <input type="submit" value="login">
        </form>
    </body>
</html>