{% extends 'base_layout.html' %}
    {% load static %}
    {% block title %} gadamer1의 블로그 {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block head %}
    <div class="head">
      <img class='head-img' src="{%static 'img/head/about.jpg'%}" alt="">
      <p class="head-title">welcome, <br> gadamer's blog</p>     
    </div>
    {% endblock %}

    {% block content %}
    <!-- Testimonials -->
    <section class="body">
  <section class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="mb-5">What contents in my blog..</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/posts.jpg' %}" alt="">
                <h5>POSTS</h5>
                <p class="font-weight-light mb-0"><h1><a href="{% url 'blog:posts' %}">내가 생각하는 것들...</a></h1></p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/algorithm.jpg' %}" alt="">
                <h5>ALGORITHM</h5>
                <p class="font-weight-light mb-0"><h1><a href="{% url 'blog:algorithm' %}">알고리즘 공부</a></h1></p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/hacking.jpg' %}" alt="">
                <h5>HACKING</h5>
                <p class="font-weight-light mb-0"><h1><a href="{% url 'blog:hacking' %}">해킹 포스팅</a></h1></p>
              </div>
            </div>
            <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <img class="img-fluid rounded-circle mb-3" src="{% static 'img/eating.jpg' %}" alt="">
                      <h5>EATING</h5>
                      <p class="font-weight-light mb-0"><h1><a href="{% url 'blog:eating' %}">맛집 리스트</a></h1></p>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                      <img class="img-fluid rounded-circle mb-3" src="{% static 'img/services.jpg' %}" alt="">
                      <h5>SERVICES</h5>
                      <p class="font-weight-light mb-0"><h1><a href="{% url 'blog:services' %}">개발한 서비스</a></h1></p>
                    </div>
            </div>
          </div>
        </div>
      </section>    
    </section>

    {% endblock %}