{% extends 'base_list.html' %}
{% load static %}

{% block head %}
<div class="head">
        <img class='head-img' src="{%static 'img/head/algorithm.jpg'%}" alt="">
      <p class="head-title">Alogirthm</p>
      </div>
{% endblock %}

{% block header_background%}
<div style="background-image : url({{STATIC_URL}}img/alogirthm.jpg); width :100%;"></div>
{% endblock %}

{% block create %}
    {% if user.is_authenticated %}
    <div class="post-create">
        {% csrf_token %}
        <button><a href="{% url 'blog:algorithm_create' %}">create</a></button>
    </div>
    {% endif %}
{% endblock %}